*{
    font-family: Calibri, sans-serif;
    font-weight: 100;
}

.titulo{
    background: #000 ;
    color: #fff;
    padding: 5px;
    width: 50%;
}
.tabela {
    text-align: left;
    width: 59rem;
}

#coluna{
    color: #fff;
    background-color: #858495 ;
}
.linhas{
    background: #EEEEEE;
}
#produtos{
    text-decoration: underline;
}